# Dependencies
node_modules
npm-debug.log

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# Build
dist/

# Test
coverage/
tests/
*.test.ts

# Docs
docs/
*.md
!README.md

# Misc
.env
.env.local
.DS_Store
*.log
